body {
    background-color: #fff;
    color: black;
}

h1 {
    color: black;
    text-align: center;
    margin-bottom: 5px;

}
h3 {
    color: black;
    text-align: center;
    margin-bottom: 5px;

}

.section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 40px 40px 40px;
    background-color: #f7c0bc;
    width: 250px;
    margin: 25px;
    border-radius: 10px;
}

.contador{
    border: 2px solid;
    border-radius: 5%;
    background-color: #fff;

}
.section-img {
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.productos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding: 50px 50px 50px 50px;
    background-color: #f7c0bc;
    width: 150px;
    margin: 25px;
    border-radius: 10px;
    
}

.productos-rows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}








