body {
    background-color: #fff;
    color: black;
}

h1 {
    color: black;
    text-align: center;
    margin-bottom: 5px;

}
h3 {
    color: black;
    text-align: center;
    margin-bottom: 5px;

}

h4 {
    color: black;
    text-align: center;
    margin: 5px;

}


.section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 40px 40px 40px;
    background-color: #f7c0bc;
    width: 250px;
    margin: 25px;
    border-radius: 10px;
}

.sectionDetail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 40px 40px 40px;
    background-color: #f7c0bc;
    width: 500px;
    margin: 25px;
    border-radius: 10px;
}

.productoDetalle{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 5px;
    margin-left: 20px;

}

.producto{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 5px;


}
.contador{
    border: 2px solid;
    border-radius: 5%;
    background-color: #fff;

}
.section-img {
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.productoCarrito {
    font-size: 2rem;
    color: black;
    text-align: center;
    margin: 15px;
}

.cantidadCarrito {
    font-size: 2rem;
    background-color: white;
    color: black;
    text-align: center;
    margin: 15px;
    padding: 20px;
}

.sectionCarrito {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 40px 40px 40px;
    background-color: #f7c0bc;
    width: 450px;
    margin: 25px;
    border-radius: 10px;
}

.productos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding: 50px 50px 50px 50px;
    background-color: #f7c0bc;
    width: 150px;
    margin: 25px;
    border-radius: 10px;
    
}

.productos-rows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style:none

}

.productos-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.home{
    background-color: #f7c0bc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;

}

.imgHome{
    width: 50%;
    border-radius: 1%;
}

.contenedorHome {
    display: flex;
    flex-direction: row;


}








